# TODO: This is a sample. Template this.
{
    "useWhiteList": false,
    "jdbc": {
        "username": "sa",
        "url": "jdbc:h2:/home/vagrant/quorum-examples/7nodes/qdata/c1/db1;MODE=Oracle;TRACE_LEVEL_SYSTEM_OUT=0",
        "autoCreateTables": true
    },
    "serverConfigs":[
        {
            "app":"Q2T",
            "enabled": true,
             "serverAddress":"unix:/home/vagrant/quorum-examples/7nodes/qdata/c1/tm.ipc",
            "communicationType" : "REST"
        },
        {
            "app":"P2P",
            "enabled": true,
            "serverAddress":"https://localhost:9001",
            "sslConfig": {
                "tls": "STRICT",
                "generateKeyStoreIfNotExisted": true,
                "serverKeyStore": "/home/vagrant/quorum-examples/7nodes/qdata/c1/server1-keystore",
                "serverKeyStorePassword": "quorum",
                "serverTrustMode": "TOFU",
                "knownClientsFile": "/home/vagrant/quorum-examples/7nodes/qdata/c1/knownClients",
                "clientKeyStore": "/home/vagrant/quorum-examples/7nodes/qdata/c1/client1-keystore",
                "clientKeyStorePassword": "quorum",
                "clientTrustMode": "TOFU",
                "knownServersFile": "/home/vagrant/quorum-examples/7nodes/qdata/c1/knownServers"
            },
            "communicationType" : "REST"
        }
    ],
    "keys": {
        "keyData": [
            {
                "privateKeyPath": "/home/vagrant/quorum-examples/7nodes/qdata/c1/tm.key",
                "publicKeyPath": "/home/vagrant/quorum-examples/7nodes/qdata/c1/tm.pub"
            }
        ]
    }
}